# Servidor
PORT=3001
NODE_ENV=production

# PostgreSQL — db_sufragio (puerto 5433 según docker-compose)
DB_HOST=localhost
DB_PORT=5433
DB_NAME=db_sufragio
DB_USER=user_sufragio
DB_PASS=pass_sufragio

# RabbitMQ — mismo exchange que servicio-padron / servicio-auditoria
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_EXCHANGE=evoting_exchange
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_QUEUE_SUFRAGIO=sufragio.resultado
