# Servidor
PORT=3003
NODE_ENV=production

# PostgreSQL — db_auditoria (puerto 5435 según docker-compose)
DB_HOST=localhost
DB_PORT=5435
DB_NAME=db_auditoria
DB_USER=user_auditoria
DB_PASS=pass_auditoria

# RabbitMQ — mismo exchange que servicio-sufragio / servicio-padron
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_EXCHANGE=evoting_exchange
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_QUEUE_AUDITORIA=auditoria.registrar
