# Servidor
PORT=3002
NODE_ENV=production

# PostgreSQL — db_padron (puerto 5434 según docker-compose)
DB_HOST=localhost
DB_PORT=5434
DB_NAME=db_padron
DB_USER=user_padron
DB_PASS=pass_padron

# RabbitMQ — mismo exchange que servicio-sufragio
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_EXCHANGE=evoting_exchange
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_QUEUE_PADRON=padron.verificar
